<?xml version="1.0" encoding="utf-8"?>
<!-- Non json config for Kalix user dev modes, note that for actual deploy
     the default sample JSON logging output must be used or else production
     does not work -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="WARN"/>

    <logger name="akka" level="INFO"/>
    <logger name="kalix" level="INFO"/>
    <logger name="akka.http" level="INFO"/>
    <logger name="io.grpc" level="INFO"/>

    <logger name="io.example.order.OrderEntity" level="INFO"/>
    <logger name="io.example.shipping.OrderSkuItemEntity" level="INFO"/>
    <logger name="io.example.shipping.ShippingOrderItemEntity" level="INFO"/>
    <logger name="io.example.shipping.ShippingOrderEntity" level="INFO"/>

    <!-- Silence some details from Akka, should not be important to user/SDK dev mode -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>